---
import { UNDANGAN_CONFIG } from '../data/config'
import OrnamentBackground from './OrnamentBackground.astro'

const { brideName, groomName, countdownTargetDate } = UNDANGAN_CONFIG

const brideInitial = brideName[0]
const groomInitial = groomName[0]
---

<div
  id="opening"
  class="angkasa_slide relative flex snap-start items-center justify-center overflow-hidden"
  data-section="opening"
>
  <OrnamentBackground />

  <div
    data-animation-class="animate__zoomIn"
    class="ornament-item animate__slower absolute bottom-[30px] left-1/2 z-30 h-auto w-[40vw] max-w-[200px] -translate-x-1/2"
  >
    <img
      src="/asset/images/manten.webp"
      class="h-auto w-full object-contain"
      onerror="this.src='https://placehold.co/300x200/C6915A/fff?text=MANTEN'"
    />
  </div>

  <div
    class="angkasa_inner flex h-[calc(100dvh-80px)] w-full flex-col justify-center px-6 py-6 pt-10 sm:px-6 sm:py-8"
  >
    <div
      class="blur-card animated-content flex h-full w-full max-w-[540px] flex-col justify-center rounded-3xl bg-(--inv-bg)/30 p-6 shadow-lg backdrop-blur-sm sm:p-8"
    >
      <div
        class="content-layer font-dekor-1 mx-auto w-full max-w-[420px] px-4 py-4 text-center sm:px-6"
      >
        <div
          data-animation-class="animate__fadeInDown"
          class="ornament-item animate__slower mb-4 text-center text-lg"
        >
          <p class="font-judul color-accent italic">
            ✤ Assalamualaikum Wr.Wb ✤
          </p>
          <p
            data-animation-class="animate__fadeInDown"
            class="ornament-item animate__slower mt-2 mb-6 text-[15px]"
          >
            Tanpa mengurangi rasa hormat, Kami bermaksud Mengundang
            Bapak/Ibu/Saudara/i, Untuk Hadir Dalam Acara Pernikahan kami
          </p>
        </div>

        <div
          data-animation-class="animate__zoomIn"
          class="ornament-item animate__slower relative mx-auto mb-4 flex items-center justify-center"
          style="
         height: 112px;
          width: 65px;
           background-image: url('/asset/images/way-kecil.png');
           background-repeat: no-repeat;
            background-size: contain;
            background-position: center;   
            "
        >
          <div
            class="font-accent absolute text-left"
            style="
                    font-size: 55px;
                    line-height: 1;
                    transform: translate(-15px, 0px);
                  "
          >
            {brideInitial}
          </div>
          <div
            class="font-accent absolute text-right"
            style="
                    font-size: 55px;
                    line-height: 1;
                    transform: translate(15px, 25px);
                  "
          >
            {groomInitial}
          </div>
        </div>

        <div class="mt-2 flex w-full items-center justify-center">
          <div
            data-animation-class="animate__fadeInLeft"
            class="ornament-item animate__slower text-center"
            style="width: 40%"
          >
            <div
              class="color-accent font-accent text-[40px] sm:text-[55px]"
              style="line-height: 1"
            >
              {brideName}
            </div>
          </div>

          <div
            data-animation-class="animate__fadeInUp"
            class="font-accent ornament-item animate__slower px-2 text-5xl"
          >
            &amp;
          </div>

          <div
            data-animation-class="animate__fadeInRight"
            class="ornament-item animate__slower text-center"
            style="width: 40%"
            data-aos="fade-left"
            data-aos-delay="1100"
          >
            <div
              class="color-accent font-accent text-[40px] sm:text-[55px]"
              style="line-height: 1"
            >
              {groomName}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
